<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <#include "../common.html">
  <style>
    body {
      background-color: #ffffff;
    }
  </style>
</head>
<body>
<div class="layui-form layuimini-form">
  <input type="hidden" name="listId" id="listId" value="${(listQuery.listId)!}">
  <div class="layui-form-item">
    <label class="layui-form-label required">歌单名称</label>
    <div class="layui-input-block">
      <input type="text" name="listName" lay-verify="required" lay-reqtext="歌单名称不能为空"
             placeholder="请输入歌单名称" value="${(list.listName)!}" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label required">歌单介绍</label>
    <div class="layui-input-block">
      <input type="text" name="listInfo" placeholder="请输入歌单介绍" value="${(list.listInfo)!}" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label ">歌单类型</label>
    <div class="layui-input-block">
      <input type="checkbox" name="typeId"  placeholder="请输入歌单类型" value="${(list.typeId)!}" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
    </div>
  </div>
</div>
<script src="${ctx}/js/list/list.add.update.js" charset="utf-8"></script>
<script>

</script>
</body>
</html>