<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanghai.dao.ListMapper" >
  <resultMap id="BaseResultMap" type="com.shanghai.vo.List" >
    <id column="list_id" property="listId" jdbcType="INTEGER" />
    <result column="list_name" property="listName" jdbcType="VARCHAR" />
    <result column="list_info" property="listInfo" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    list_id, list_name, list_info, type_id, is_valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from list
    where list_id = #{listId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from list
    where list_id = #{listId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shanghai.vo.List" >
    insert into list (list_id, list_name, list_info, 
      type_id, is_valid)
    values (#{listId,jdbcType=INTEGER}, #{listName,jdbcType=VARCHAR}, #{listInfo,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=INTEGER}, #{isValid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shanghai.vo.List" >
    insert into list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="listId != null" >
        list_id,
      </if>
      <if test="listName != null" >
        list_name,
      </if>
      <if test="listInfo != null" >
        list_info,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="listId != null" >
        #{listId,jdbcType=INTEGER},
      </if>
      <if test="listName != null" >
        #{listName,jdbcType=VARCHAR},
      </if>
      <if test="listInfo != null" >
        #{listInfo,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanghai.vo.List" >
    update list
    <set >
      <if test="listName != null" >
        list_name = #{listName,jdbcType=VARCHAR},
      </if>
      <if test="listInfo != null" >
        list_info = #{listInfo,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where list_id = #{listId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanghai.vo.List" >
    update list
    set list_name = #{listName,jdbcType=VARCHAR},
      list_info = #{listInfo,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER}
    where list_id = #{listId,jdbcType=INTEGER}
  </update>
  <select id="selectByListName" parameterType="String" resultType="com.shanghai.query.ListQuery">
    select
    l.list_name, l.list_info, t.type_name
    from
    list l
    left join
    (
        select
        type_id, type_name
        from
        type
        where
        is_valid = 1
    ) t
    on l.type_id = t.type_id
    <where>
      l.is_valid = 1
      <if test="listName != null and listName != ''">
        and l.list_name like concat('%',#{listName},'%')
      </if>
    </where>
  </select>
</mapper>