<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanghai.dao.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.shanghai.po.Module" >
    <id column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="parent_opt_value" property="parentOptValue" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="opt_value" property="optValue" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    module_id, module_name, url, parent_id, parent_opt_value, grade, opt_value, create_date, 
    update_date, is_valid, icon
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from module
    where module_id = #{moduleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from module
    where module_id = #{moduleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shanghai.po.Module" >
    insert into module (module_id, module_name, url, 
      parent_id, parent_opt_value, grade, 
      opt_value, create_date, update_date, 
      is_valid, icon)
    values (#{moduleId,jdbcType=INTEGER}, #{moduleName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{parentOptValue,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, 
      #{optValue,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{isValid,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shanghai.po.Module" >
    insert into module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="moduleName != null" >
        module_name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="parentOptValue != null" >
        parent_opt_value,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="optValue != null" >
        opt_value,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="icon != null" >
        icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="parentOptValue != null" >
        #{parentOptValue,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="optValue != null" >
        #{optValue,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanghai.po.Module" >
    update module
    <set >
      <if test="moduleName != null" >
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="parentOptValue != null" >
        parent_opt_value = #{parentOptValue,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="optValue != null" >
        opt_value = #{optValue,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
    </set>
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanghai.po.Module" >
    update module
    set module_name = #{moduleName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      parent_opt_value = #{parentOptValue,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      opt_value = #{optValue,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR}
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
  <select id="queryAllModules" resultType="com.shanghai.po.vo.TreeModel">
    select
        module_id as id,parent_id as pId,module_name as name
    from
        module
    where
        is_valid = 1

  </select>
</mapper>