<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="${ctx}/js/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="${ctx}/js/zTree_v3/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="${ctx}/js/zTree_v3/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="${ctx}/js/zTree_v3/js/jquery.ztree.excheck.js"></script>
</head>
<body>
<div id="test1" class="ztree"></div>
<input id="roleId"  name="roleId" value="${roleId!}" type="hidden">
<script type="text/javascript">
    var ctx="${ctx}";
</script>
<script type="text/javascript" src="${ctx}/js/role/role.grant.js"></script>
</body>
</html>