<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <#include "../common.html">
  <style>
    body {
      background-color: #ffffff;
    }
  </style>
</head>
<body>
<div class="layui-form layuimini-form">
  <!--设置隐藏域 判断是添加还是编辑-->
  <input type="hidden" name="musicId" id="musicId" value="${(music.musicId)!}">

  <div class="layui-form-item">
    <label class="layui-form-label required">歌曲名称</label>
    <div class="layui-input-block">
      <input type="text" name="musicName" lay-verify="required" lay-reqtext="歌曲名称不能为空"
             placeholder="请输入歌曲名称" value="${(music.musicName)!}" class="layui-input">
    </div>
  </div>


  <div class="layui-form-item">
    <label class="layui-form-label">歌手</label>
    <div class="layui-input-block">
      <input type="text" name="singer" id="singer"  placeholder="歌手选择" value="${(music.singerId)!}" class="layui-input">
      <input type="hidden" name="singerId" id="singerId"   value="${(music.singerId)!}" >
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label ">专辑名</label>
    <div class="layui-input-block">
      <input type="text" name="album" id="album"  placeholder="专辑类型选择" value="${(music.albumId)!}" class="layui-input">
      <input type="hidden" name="albumId" id="albumId"   value="${(music.albumId)!}" >
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">歌曲风格选择</label>
    <div class="layui-input-block">
      <select name="typeId1" lay-verify="required">
        <option value=""></option>
        <option value="5">活泼</option>
        <option value="1">抒情</option>
        <option value="2">流行说唱</option>
        <option value="3">拉丁风格</option>
        <option value="4">甜美</option>
      </select>
    </div>
  </div>


  <div class="layui-form-item">
    <label class="layui-form-label">是否为会员可听</label>
    <div class="layui-input-block">
      <select name="isForVip" lay-verify="required">
        <option value=""></option>
        <option value="0">是</option>
        <option value="1">否</option>
      </select>
    </div>
  </div>


  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
    </div>
  </div>
</div>
<script src="${ctx}/js/musicManager/add_update_music.js" charset="utf-8"></script>
<script>

</script>
</body>
</html>