<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <#include "../common.html">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">歌曲名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="musicName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">歌手</label>
                            <div class="layui-input-inline">
                                <input type="text" name="singerName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">专辑</label>
                            <div class="layui-input-inline">
                                <input type="text" name="albumName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn search_btn" data-type="reload"><i
                                    class="layui-icon">&#xe615;</i> 搜索</a>
<!--                            <button type="button" class="layui-btn layui-btn-primary" -->
<!--                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>-->
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <!--头部工具栏-->
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <!--行工具栏-->
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        var tableIns = table.render({
            id : "songManageSearch",//表格唯一标识
            elem: '#currentTableId',//table里容器id的属性值
            url: ctx+'/musicManage/list',//后台映射地址
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'musicId', title: '编号', sort: true},
                {field: 'musicName', title: '歌名'},
                {field: 'singerName', title: '歌手名', sort: true},
                {field: 'albumName', title: '专辑名'},
                {field: 'typeId1', title: '所属类型', sort:true},//一首歌好几种不同的类型，怎么在前端数据表格展示？
                {field: 'isForVip', title: '是否为会员可听', sort: true},//前端怎么展示是否为会员可听
                //{field: 'isValid', title: '状态', sort: true},isValid --为删除做准备
                //行工具栏
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });
        /**
         * 搜索按钮点击事件的绑定-11
         */
        $(".search_btn").click(function (){
            /**
             *  搜索按钮绑定--多条件查询
             */
            tableIns.reload({
                //设置需要传递给后端的参数
                where: { //设定异步数据接口的额外参数，任意设
                    // 获取文本框、下拉框的值，设置传递的参数
                    musicName: $("[name = 'musicName']").val()
                    ,singerName: $("[name = 'singerName']").val()
                    ,albumName: $("[name = 'albumName']").val()
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        })
        /**
         * 表格行工具栏监听事件
         *    tool()-括号内的为table标签的 lay-filter 属性值
         */
        table.on('tool(currentTableFilter)',function (data) {
            //判断类型
            if(data.event == "edit"){
                //拿到营销机会的id
                var saleChanceId = data.data.id;
                // 编辑操作--打开添加、修改营销机会数据的窗口
                OpenSaleChanceDialog(saleChanceId);

            } else if (data.event == "delect"){
                //删除操作
                // 询问是否确认删除
                layer.confirm("确定要删除这条记录吗？", {icon: 3, title:"营销机会数据管理"}, function (index) {
                    // 关闭窗口
                    layer.close(index);
                    // 发送ajax请求，删除记录
                    $.ajax({
                        type:"post",
                        url: ctx + "/sale_chance/deleteSaleChance",
                        data:{
                            ids: data.data.id
                        },
                        dataType:"json",
                        success:function (result) {
                            if (result.code == 200) {
                                //提示成功
                                layer.msg("删除成功",{icon: 6})
                                // 加载表格
                                tableIns.reload();
                            } else {
                                //提示失败
                                layer.msg(result.msg, {icon: 5});
                            }
                        }
                    });
                });

            }
        })



        /**
         * 头部工具栏监听
         *      toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/table/add.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/table/edit.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            }
        });

    });
</script>

</body>
</html>