<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>音乐平台后台管理-登陆</title>
    <#include "common.html">
    <link rel="stylesheet" href="${ctx}/css/music/login.css" media="all">
</head>
<body>
<div class="layui-container">
    <div class="admin-login-background">
        <div class="layui-form login-form">
            <form class="layui-form" action="">
                <div class="layui-form-item logo-title">
                    <h1>音乐平台后台登录</h1>
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-username" for="userName"></label>
                    <input type="text" name="userName" lay-verify="required|account" placeholder="用户名" autocomplete="off" class="layui-input" >
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-password" for="userPwd"></label>
                    <input type="password" name="userPwd" lay-verify="required|password" placeholder="密码" autocomplete="off" class="layui-input" >
                </div>
                <!-- 验证码忽略
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-vercode" for="captcha"></label>
                    <input type="text" name="captcha" lay-verify="required|captcha" placeholder="图形验证码" autocomplete="off" class="layui-input verification captcha" value="xszg">
                    <div class="captcha-img">
                        <img id="captchaPic" src="../images/captcha.jpg">
                    </div>
                </div>
                -->
                <div class="layui-form-item">
                    <input type="checkbox" name="rememberMe" id="rememberMe" value="true" lay-skin="primary" title="记住密码">
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit="" lay-filter="login">登 入</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="${ctx}/js/music/login.js" charset="utf-8"></script>
</body>
</html>